<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>lost-404</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.018/css/hack.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="../static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="text__error" data-text="I guess you are lostt!"></div>
<div class="text__link"><a href='https://ieeesiesgst.in/' data-text="click here to go IEEE SIESGST"></a></div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="../static/script.js"></script>

</body>
</html>
