{% extends "base.html" %}
{% block title %}shorten URL{% endblock %}

{% block content %}
<form action="#", method="post">
    <label for="url">Enter an https:// URL:</label>

    <input type="url" name="nm" id="url"
       placeholder="https://example.com"
       pattern="https://.*" 
       required>
    <br>
    <label for="surl">Customize back half (eg:https://gg.com/assignIEEE) </label>
    <input type="text" name="surl" id="surl"
       placeholder="custom key eg: assignIEEE"
       required>
    <br>
    <input type="submit" value="Get short url" class="btn btn-primary">
</form>
<br>
<h2>Existing Short URLs</h2>

{% for url in vals %}
<p><strong>Custom URL key:</strong>{{url.short}}  |  <strong>Short URL:</strong>https://links.ieeesiesgst.in/{{url.short}}  |  <strong>Long URL:</strong> {{url.long}}</p>
{% endfor %}

{% endblock %}